.col.header {
    padding: 0px;
}

.footer{
    background: #152F4F;
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

.table-container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

.table {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 17px;
    /* background-color: #f0f0f0; */
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    font-family: sans-serif;
}

.form {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 40%;
    position: relative;
    left: 30%;
}

.for-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 3px solid lightblue; */
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.for-card > div{
    display: flex;
    flex-direction: column;
}

.for-card > div > img{
    width: 50px;
}

.for-card > div {
    border: 1px solid lightsteelblue;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    gap: 10px;
    width: 188px;
    margin: 10px;
    background-color: aliceblue;
}

select {
    margin: 10px !important;
}

button {
    margin: 10px !important;
    margin-top: 20px !important;
    height: 35px;
    border-radius: 10px !important;
    background-color: #d6d6d6;
}

.for-card > div > img {
    margin-left: 33px;
    width: 100px;
    margin-bottom: 10px;
}

span {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    min-height: 25px;
    max-height: 85px;
    border: 1px solid #9fa7ff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}